<a href="https://colab.research.google.com/github/pranavvp16/Anime-Recommendation-system/blob/main/anime_recommendation_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np 
import pandas as pd

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
## This is content based recommendation system
### Data : The dataset used in the system is downloaded from kaggle link:

In [7]:
data_frame = pd.read_csv("drive/MyDrive/Anime recommendation system/anime.csv")

In [8]:
data_frame.head(1)

,anime_id,title,type,score,scored_by,status,episodes,start_date,end_date,source,...,producers,licensors,synopsis,background,main_picture,url,trailer_url,title_english,title_japanese,title_synonyms
0,5114,Fullmetal Alchemist: Brotherhood,tv,9.13,1871705,finished_airing,64.0,2009-04-05,2010-07-04,manga,...,"['Aniplex', 'Square Enix', 'Mainichi Broadcast...","['Funimation', 'Aniplex of America']",After a horrific alchemy experiment goes wrong...,NaN,https://cdn.myanimelist.net/images/anime/1223/...,https://myanimelist.net/anime/5114/Fullmetal_A...,https://www.youtube.com/watch?v=--IcmZkvL0Q,Fullmetal Alchemist: Brotherhood,鋼の錬金術師 FULLMETAL ALCHEMIST,['Hagane no Renkinjutsushi: Fullmetal Alchemis...

Warning: Total number of columns (39) exceeds max_columns (20) limiting to first (20) columns.

In [9]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24165 entries, 0 to 24164
Data columns (total 39 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   anime_id          24165 non-null  int64
 1   title             24165 non-null  object
 2   type              24092 non-null  object
 3   score             14272 non-null  float64
 4   scored_by         24165 non-null  int64
 5   status            24165 non-null  object
 6   episodes          23397 non-null  float64
 7   start_date        21391 non-null  object
 8   end_date          19912 non-null  object
 9   source            20404 non-null  object
 10  members           24165 non-null  int64
 11  favorites         24165 non-null  int64
 12  episode_duration  23302 non-null  object
 13  total_duration    23002 non-null  object
 14  rating            23148 non-null  object
 15  sfw               24165 non-null  bool
 16  approved          24165 non-null  bool
 17  created_at        24165 non-null  object
 18  updated_at        24165 non-null  object
 19  start_year        17749 non-null  float64
 20  start_season      17749 non-null  object
 21  real_start_date   21391 non-null  object
 22  real_end_date     19912 non-null  object
 23  broadcast_day     3065 non-null   object
 24  broadcast_time    2928 non-null   object
 25  genres            24165 non-null  object
 26  themes            24165 non-null  object
 27  demographics      24165 non-null  object
 28  studios           24165 non-null  object
 29  producers         24165 non-null  object
 30  licensors         24165 non-null  object
 31  synopsis          20848 non-null  object
 32  background        2342 non-null   object
 33  main_picture      21378 non-null  object
 34  url               24165 non-null  object
 35  trailer_url       4362 non-null   object
 36  title_english     9084 non-null   object
 37  title_japanese    23911 non-null  object
 38  title_synonyms    24165 non-null  object
dtypes: bool(2), float64(3), int64(4), object(30)
memory usage: 6.9+ MB

### Usefull columns for the recommendation system
* anime id
* title
* score 
* start_date
* genres
* synopsis

In [15]:
anime_df = data_frame[["anime_id","title","type","score","start_date","genres","synopsis"]]

In [16]:
anime_df

,anime_id,title,type,score,start_date,genres,synopsis
0,5114,Fullmetal Alchemist: Brotherhood,tv,9.13,2009-04-05,"['Action', 'Adventure', 'Drama', 'Fantasy']",After a horrific alchemy experiment goes wrong...
1,11061,Hunter x Hunter (2011),tv,9.04,2011-10-02,"['Action', 'Adventure', 'Fantasy']",Hunters devote themselves to accomplishing haz...
2,38524,Shingeki no Kyojin Season 3 Part 2,tv,9.07,2019-04-29,"['Action', 'Drama']",Seeking to restore humanity's diminishing hope...
3,9253,Steins;Gate,tv,9.08,2011-04-06,"['Drama', 'Sci-Fi', 'Suspense']",Eccentric scientist Rintarou Okabe has a never...
4,28851,Koe no Katachi,movie,8.95,2016-09-17,['Drama'],"As a wild youth, elementary school student Sho..."
...,...,...,...,...,...,...,...
24160,52470,STARTLINER,music,NaN,2018-07-25,[],"Music video for the main theme of ONGEKI, ""STA..."
24161,52474,Blue Archive: 1.5 Shuunenkinen Short Animation,ona,NaN,2022-07-16,"['Action', 'Fantasy']",NaN
24162,52475,Ryuujin Kappei,ova,NaN,1991-04-21,"['Action', 'Adventure', 'Fantasy']",Kappei got drown into a strange picture book. ...
24163,52476,Yeongnihan neoguri,NaN,NaN,1988-01-01,[],Clever Raccoon Dog is a North Korean animated ...
24164,52477,Dab-eul chaj-eun du sonyeon,NaN,NaN,2015-01-01,[],Two young boys play a computer game that invol...

In [17]:
anime_df.isna().sum()

anime_id         0
title            0
type            73
score         9893
start_date    2774
genres           0
synopsis      3317
dtype: int64

In [19]:
anime_df.columns

Index(['anime_id', 'title', 'type', 'score', 'start_date', 'genres',
       'synopsis'],
      dtype='object')

In [26]:
anime_df.dropna(subset=["synopsis","start_date","type"] , inplace=True)

In [27]:
anime_df.isna().sum()

anime_id         0
title            0
type             0
score         5010
start_date       0
genres           0
synopsis         0
dtype: int64

In [30]:
anime_df["score"].mean()

6.467405912040375

In [31]:
anime_df["score"].fillna(value=anime_df["score"].mean() , inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [33]:
anime_df.head(1)

,anime_id,title,type,score,start_date,genres,synopsis
0,5114,Fullmetal Alchemist: Brotherhood,tv,9.13,2009-04-05,"['Action', 'Adventure', 'Drama', 'Fantasy']",After a horrific alchemy experiment goes wrong...

In [34]:
anime_df["type"].value_counts()

tv         5235
ova        3662
movie      3292
special    2366
ona        2285
music      2040
Name: type, dtype: int64

In [ ]:
anime_df["synopsis"].value_counts()

In [36]:
anime_df["genres"].value_counts()

[]                                                              2881
['Comedy']                                                      1682
['Hentai']                                                      1000
['Fantasy']                                                      620
['Comedy', 'Slice of Life']                                      574
                                                                ...
['Action', 'Avant Garde', 'Comedy', 'Ecchi', 'Supernatural']       1
['Drama', 'Ecchi', 'Horror', 'Supernatural']                       1
['Action', 'Mystery', 'Romance', 'Suspense']                       1
['Comedy', 'Drama', 'Ecchi', 'Mystery', 'Sci-Fi']                  1
['Avant Garde', 'Mystery']                                         1
Name: genres, Length: 910, dtype: int64

In [51]:
anime_df.replace("[]" , np.nan , inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [52]:
anime_df.dropna(subset =["genres"] , inplace = True )

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [53]:
anime_df["genres"].value_counts()

['Comedy']                                                      1682
['Hentai']                                                      1000
['Fantasy']                                                      620
['Comedy', 'Slice of Life']                                      574
['Drama']                                                        480
                                                                ...
['Action', 'Avant Garde', 'Comedy', 'Ecchi', 'Supernatural']       1
['Drama', 'Ecchi', 'Horror', 'Supernatural']                       1
['Action', 'Mystery', 'Romance', 'Suspense']                       1
['Comedy', 'Drama', 'Ecchi', 'Mystery', 'Sci-Fi']                  1
['Avant Garde', 'Mystery']                                         1
Name: genres, Length: 909, dtype: int64

In [54]:
anime_df.shape

(15999, 7)